USE [master]
GO
CREATE DATABASE [codefirstsp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'codefirstsp', FILENAME = N'D:\SQLDatabases\codefirstsp.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'codefirstsp_log', FILENAME = N'D:\SQLDatabases\codefirstsp_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [codefirstsp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [codefirstsp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([Id], [Title], [Description]) VALUES (1, N'Muj prvni clanek', NULL)
INSERT [dbo].[Articles] ([Id], [Title], [Description]) VALUES (2, N'Muj prvni clanek', NULL)
SET IDENTITY_INSERT [dbo].[Articles] OFF
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteArticle]
    @Id [int]
AS
BEGIN
    DELETE [dbo].[Articles]
    WHERE ([Id] = @Id)
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertArticle]
    @Title [nvarchar](max),
    @Description [nvarchar](max)
AS
BEGIN
    INSERT [dbo].[Articles]([Title], [Description])
    VALUES (@Title, @Description)
    
    DECLARE @Id int
    SELECT @Id = [Id]
    FROM [dbo].[Articles]
    WHERE @@ROWCOUNT > 0 AND [Id] = scope_identity()
    
    SELECT t0.[Id]
    FROM [dbo].[Articles] AS t0
    WHERE @@ROWCOUNT > 0 AND t0.[Id] = @Id
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateArticle]
    @Id [int],
    @Title [nvarchar](max),
    @Description [nvarchar](max)
AS
BEGIN
    UPDATE [dbo].[Articles]
    SET [Title] = @Title, [Description] = @Description
    WHERE ([Id] = @Id)
END
GO
USE [master]
GO
